/* Home.css */
.home {
    padding: 20px;
}
.Search-form {
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.search-input {
    padding: 10px;
    margin-inline: 10px;
    width: 100%;
    max-width: 400px;
}
.movies-gird{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}